* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#screen {
  display: flex;
  min-height: 100vh;
}

// LEFT SIDE
.left_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  & .word {
    display: flex;
    gap: 2px;
    text-transform: uppercase;
    & li {
      border: 1px solid #000;
      background-color: #000;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      &.open {
        background-color: #fff;
      }
    }
  }
  & .keypad {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    &Button {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;

      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        border-color: blue;
      }
    }
  }
}
// Анимація при наведенні
.keypad :hover {
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-weight: 900;
  letter-spacing: 2px;
  // background: none;
  animation: in 1s cubic-bezier(0, 0, 1, 1) both;
  @keyframes in {
    0% {
    font-size: 35px;
    }
    25%{
      font-size: 40px;
    }
    75%{
      font-size: 45px;
    }
    100% {
      font-size: 50px;
    color: rgb(51, 45, 45);
    }
  }
}

// RIGHT SIDE

.right_side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  & .image {
    position: relative;
    // background-image: url('./image/horse.jpeg');
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    & .overlay {
      background-color: rgba(200, 200, 200, 0.97);
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // gap: 1px;
      & .block {
        background-image: url('./image/question.png');
        background-color: rebeccapurple;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
      }
    }
  }
}