* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* 123 */
#screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.left_side {
  border: 1px solid red;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  padding: 40px 0;
}

.left_side .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: rgb(161, 16, 16);
}

.left_side .word li {
  border: 1px solid #000;
  background-color: #000;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_side .word li p {
  font-size: 32px;
}

.left_side .word li.open {
  background-color: #fff;
}

.left_side .keypad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.left_side .keypadButton {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  text-transform: uppercase;
}

.right_side {
  border: 1px solid blue;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.right_side .image {
  position: relative;
  background-image: url("./image/horse.jpeg");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.right_side .image .overlay {
  background-color: rgba(200, 200, 200, 0.9);
  height: 100%;
  width: 100%;
}
