* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.left_side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
}

.left_side .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  text-transform: uppercase;
}

.left_side .word li {
  border: 1px solid #000;
  background-color: #000;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.left_side .word li.open {
  background-color: #fff;
}

.left_side .keypad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left_side .keypadButton {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  text-transform: uppercase;
}

.left_side .keypadButton:hover {
  cursor: pointer;
  border-color: blue;
}

.keypad :hover {
  border-bottom: 1px solid #fff;
  font-weight: 400;
  font-weight: 900;
  letter-spacing: 2px;
  -webkit-animation: in 1s cubic-bezier(0, 0, 1, 1) both;
          animation: in 1s cubic-bezier(0, 0, 1, 1) both;
}

@-webkit-keyframes in {
  0% {
    font-size: 35px;
  }
  25% {
    font-size: 40px;
  }
  75% {
    font-size: 45px;
  }
  100% {
    font-size: 50px;
    color: #332d2d;
  }
}

@keyframes in {
  0% {
    font-size: 35px;
  }
  25% {
    font-size: 40px;
  }
  75% {
    font-size: 45px;
  }
  100% {
    font-size: 50px;
    color: #332d2d;
  }
}

.right_side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.right_side .image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.right_side .image .overlay {
  background-color: rgba(200, 200, 200, 0.97);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right_side .image .overlay .block {
  background-image: url("./image/question.png");
  background-color: rebeccapurple;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
/*# sourceMappingURL=test.css.map */