$color_black: #000;
$color_white: #fff;
$color_blue: blue;
$color_grey: grey;
$color_overlay: rgba(200, 200, 200, 0.97);
$color_block: rebeccapurple;
$dozens_px: 10px;
$dozens: 10%;
$hundreds_vh: 100vh;
$hundreds_px: 100px;

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#screen {
  display: flex;
  min-height: $hundreds_vh;
}

// LEFT SIDE
.left_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: calc(#{$dozens_px} * 4);
  & .word {
    display: flex;
    gap: 2px;
    text-transform: uppercase;
    & li {
      border: 1px solid $color_black;
      background-color: $color_black;
      width: calc(#{$dozens_px} * 8);
      height: calc(#{$dozens_px} * 8);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(#{$dozens_px} * 3);
      
      &.open {
        background-color: $color_white;
      }
    }
  }
  & .keypad {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    &Button {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;

      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        border-color: $color_blue;
      }
    }
  }
}
// Анимація при наведенні
.keypad :hover {
  border-bottom: 1px solid $color_white;
  font-weight: 400;
  font-weight: 900;
  letter-spacing: calc(#{$dozens_px} / 5);
  // background: none;
  animation: in 1s cubic-bezier(0, 0, 1, 1) both;
  @keyframes in {
    0% {
    font-size: calc(#{$dozens_px} * 3);
    }
    100% {
      font-size: calc(#{$dozens_px} * 5);
    color: $color_grey;
    }
  }
}

// RIGHT SIDE

.right_side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  & .image {
    position: relative;
    // background-image: url('./image/horse.jpeg');
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    & .overlay {
      background-color: $color_overlay;
      height: calc(#{$dozens} * 10);
      width: calc(#{$dozens} * 10);
      display: flex;
      flex-wrap: wrap;
      // gap: 1px;
      & .block {
        background-image: url('./image/question.png');
        background-color: $color_block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: calc(#{$dozens} * 8);
      }
    }
  }
}